*{
    margin: 0;
    padding : 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    
}
.main{
    width: 100%;
     min-height: 100vh;
    padding: 10px;
    background: linear-gradient(135deg,#661088,#de9be0);

}
.task{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.task h2{
    color: #71029d;
    display: flex;;
    align-items: center;
    margin-bottom: 20px;
}
.task h2 img{
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#eabeeb;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1; 
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    /* //means it will taske full wwidth */
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background:#8730a9;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: ''; 
    height: 26px;
    width: 26px;
    position: absolute;
    display: inline-block;
    background-image:url(/Images/circle1.png);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
}
ul li.checked{
    color: #64146c;
    text-decoration: line-through;
}
ul li.checked::before{
    /* display: block; */
    background-image: url(Images/check.png);
}
ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}